body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    margin: 0;
    
    
}

ul{
    list-style-type: none;
    display: flex;
    gap: 90px;
}
a{

    color: white;
    text-decoration: none;
}

.header{
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.logo{
    font-weight: bolder;
    font-size: 24px;
    color: #f9faf8;
}
.hero{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;  
    padding: 50px;
}
#text{
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}
#subtext, a{
    font-size: 18px;
    color: #e5e7eb;
}
#subtext, #text{
    max-width: 50%;
}
.image{
   
    background-color: gray;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .signup{
    border-radius: 15px;
    border-style: none;
    color: white;
    background-color: #3882f6;
    padding: 2px 15px;
}
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-top: 50px;
}
.box{
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.info{
    padding: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 60px;
}
.pair{
    max-width: 150px;
    text-align: center;
    
}
.quote{
    background-color: #e5e7eb;
    padding: 100px;
}
.placeholder{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}
.credit{
    text-align: right;
}
.banner{
    display: flex;
    flex-wrap: wrap;
    background-color: #3882f6;
    justify-content: space-between;
    margin: 20px 20%;
    max-height: 40px;
    padding: 50px;
    border-radius: 15px;
    border-style: none;
    color: white;
}
.first{
    font-size: 30px;

}
.banner .signup{
    color: white;
    background-color: #3882f6;
    border-radius: 15px;
    border-style: solid;
    border-color: white;
    width: 100px;
    font-size: medium

}
.footer{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px 0;
}

